<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue'
import MessageList from '@/components/MessageList.vue'
import { nextTick } from 'vue';
import { ref } from 'vue';
const Messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['สวัสดีที่รัก','ไปไหนมาเหรอ','กินข้าวหรือยัง','ไม่คุยด้วยและ']
function send(Message:string) {
  Messages.value.push(Message)
  answerWithComputer()

}
function answerWithComputer() {
  const answer = answers[Math.floor(Math.random()*10000)%answers.length]
  console.log(answer)
  Messages.value.push(answer)
  nextTick(() =>{
    messageList.value?.updateUI()
  })
  
}

</script>

<template>
<div>
    <MessageList ref="messageList" :Messages="Messages"/>
    <MessageBox @send="send"/>
  </div>

</template>
