<script setup lang="ts">
import { ref } from 'vue'
const emit = defineEmits<{
  send: [Message: string]
}>()
const Message = ref('')
function send() {
    emit('send', Message.value)
    Message.value = ''
}
</script>

<template>
  <div>
    <input type="text" v-model="Message" @keydown.enter="send"/>
    <button @click="send()">Send</button>
  </div>
</template>

<style scoped>
input, button {
    font-family: 'Kanit';
    font-size: 20pt;
    
}
input {
    width: 85%;
}
button {
    width: 13%;
}
</style>
