<script setup lang="ts">
import { ref, defineExpose } from 'vue'

const msgList = ref<HTMLElement | null>(null)
const prop = defineProps<{
  Messages: string[]
}>()
function updateUI() {
  msgList.value!.scrollTop = msgList.value!.scrollHeight
}
defineExpose({ updateUI })
</script>

<template>
  <div ref="msgList" style="height: 700px; overflow-y: auto">
    <div
      :class="{ card: true, com: index % 2 === 1, user: index % 2 === 0 }"
      v-for="(msg, index) of Messages"
      :key="index"
    >
      {{ msg }}
    </div>
  </div>
</template>

<style scoped>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 97%;
  border-radius: 5px;
  height: 60pt;
  padding: 10px;
  padding-top: 50px;
}
.user {
  text-align: right;
}
.com {
  background-color: antiquewhite;
}
</style>
